<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Transaction</h5>
          <img src="https://storage.googleapis.com/iex/api/logos/{{transaction.ticker}}.png">
          <p>
            <strong>ID</strong>: {{transaction.id}}</p>
          <p>
          <p>
            <strong>Symbol</strong>: {{transaction.ticker}}</p>
          <p>
            <strong>QTY:</strong> {{transaction.quantity}}</p>
            <strong>Purchased At:</strong> {{transaction.price}}</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    function symbolUrl(symbol) {
        return `https://iextrading.com/apps/stocks/${symbol}`;
      }
  </script>
</div>
